[Unit]
Description=Dagelijkse Bijbeltekst wallpaper
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/bijbeltekst-wrapper.sh
